In [2]:
import pandas as pd

In [3]:
pd.read_csv('merged_data.csv')

          date    CZK/USD
0   2020-03-01  24.042864
1   2020-04-01  25.069682
2   2020-05-01  25.012381
3   2020-06-01  23.706455
4   2020-07-01  23.145000
5   2020-08-01  22.122381
6   2020-09-01  22.679909
7   2020-10-01  23.098409
8   2020-11-01  22.357048
9   2020-12-01  21.629913
10  2021-01-01  21.474714
11  2021-02-01  21.388100
12  2021-03-01  22.002043
13  2021-04-01  21.694591