In [73]:
import pandas as pd

In [74]:
#give function df to cut, the column were you want to define a slice and a list of values which should be sliced
#get a list of dfs, one for each defined value of cut-list, NaNs are dropped, index is datetime
def cut_df(df, column_to_cut, cut):
    covid_dfs = []
    for i in range(len(cut)):
        cut_df = df.where(df[column_to_cut] == cut[i]).dropna(how='all')
        cut_df = cut_df.dropna(axis=1, how='all')
        cut_df.index = pd.to_datetime(cut_df.index)
        covid_dfs.append(cut_df)
    return pd.Series(data = covid_dfs, index = cut)

In [75]:
exchange_df = pd.read_parquet('data/FRED_Req.parquet')
covid_df = pd.read_parquet('data/OWID_Req.parquet')

In [88]:
#make df from FRED data, convert index to datetime
exchange_df.index = pd.to_datetime(exchange_df.index)
exchange_df = exchange_df.loc['2020-03-01':,:].astype(float) #this does work but with warning
exchange_df

                   CZ        PL          HU
date
2020-03-01  24.042864  4.013614  312.114545
2020-04-01  25.069682  4.180518  327.990455
2020-05-01  25.012381  4.160552  322.363810
2020-06-01  23.706455  3.944050  308.675000
2020-07-01  23.145000  3.886200  306.563913
2020-08-01  22.122381  3.720010  294.615714
2020-09-01  22.679909  3.792868  305.629091
2020-10-01  23.098409  3.860714  308.284545
2020-11-01  22.357048  3.802343  304.241905
2020-12-01  21.629913  3.681413  295.239130
2021-01-01  21.474714  3.728767  295.048571
2021-02-01  21.388100  3.717550  296.046000
2021-03-01  22.002043  3.863939  307.230870
2021-04-01  21.694591  3.819532  301.943182

In [77]:
covid_df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-02-24,AFG,Asia,Afghanistan,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-25,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-26,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-27,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2020-02-28,AFG,Asia,Afghanistan,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-19,ZWE,Africa,Zimbabwe,38612.0,17.0,20.857,1583.0,0.0,0.571,2597.873,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-05-20,ZWE,Africa,Zimbabwe,38635.0,23.0,20.571,1585.0,2.0,0.429,2599.421,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-05-21,ZWE,Africa,Zimbabwe,38664.0,29.0,18.429,1586.0,1.0,0.571,2601.372,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-05-22,ZWE,Africa,Zimbabwe,38679.0,15.0,17.857,1586.0,0.0,0.571,2602.381,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
2021-05-23,ZWE,Africa,Zimbabwe,38682.0,3.0,17.429,1586.0,0.0,0.571,2602.583,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [78]:
covid_dfs = cut_df(covid_df, 'iso_code', ['CZE', 'POL', 'HUN'])

In [82]:
covid_dfs[2]

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-03-03,HUN,Europe,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2020-03-04,HUN,Europe,Hungary,2.0,2.0,NaN,NaN,NaN,NaN,0.207,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2020-03-05,HUN,Europe,Hungary,2.0,0.0,NaN,NaN,NaN,NaN,0.207,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2020-03-06,HUN,Europe,Hungary,2.0,0.0,NaN,NaN,NaN,NaN,0.207,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2020-03-07,HUN,Europe,Hungary,4.0,2.0,NaN,NaN,NaN,NaN,0.414,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-19,HUN,Europe,Hungary,799588.0,633.0,829.143,29329.0,52.0,63.000,82770.086,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2021-05-20,HUN,Europe,Hungary,800368.0,780.0,738.286,29380.0,51.0,58.571,82850.828,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2021-05-21,HUN,Europe,Hungary,801025.0,657.0,662.143,29427.0,47.0,55.143,82918.838,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2021-05-22,HUN,Europe,Hungary,801672.0,647.0,606.143,29475.0,48.0,51.571,82985.813,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854
2021-05-23,HUN,Europe,Hungary,802088.0,416.0,563.000,29519.0,44.0,49.143,83028.876,...,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,7.02,76.88,0.854

In [23]:
#problem: FRED data monthly, OWID data daily -> need to convert OWID data
#add up cases of a month, save in a list
list_monthly_cases = []
list_monthly_cases_index = []
monthly_cases = covid_df.iloc[0]['new_cases']
for i in range(len(covid_df)-1):
    if covid_df.index[i].month == covid_df.index[i+1].month:
        monthly_cases = monthly_cases + covid_df.iloc[i+1]['new_cases']
    else:
        list_monthly_cases.append(monthly_cases)
        list_monthly_cases_index.append(covid_df.index[i+1])
        monthly_cases = covid_df.iloc[i+1]['new_cases']

In [24]:
'''
#control if idea works -> it does
print(list_monthly_cases)
print(covid_df.loc['2020-04-30']['total_cases']-covid_df.loc['2020-03-31']['total_cases'])
covid_df.loc['2020-03-31']['total_cases']
'''

"\n#control if idea works -> it does\nprint(list_monthly_cases)\nprint(covid_df.loc['2020-04-30']['total_cases']-covid_df.loc['2020-03-31']['total_cases'])\ncovid_df.loc['2020-03-31']['total_cases']\n"

In [25]:
#safe list of monthly cases as df, concat with df on CZK/USD data
monthly_cases_summed = pd.DataFrame(data = list_monthly_cases, index = list_monthly_cases_index, columns = ['Summed Monthly Cases'])
result = pd.concat([czk_df,monthly_cases_summed], axis = 1)
result

              CZK/USD  Summed Monthly Cases
2020-03-01  24.042864                   NaN
2020-04-01  25.069682                3308.0
2020-05-01  25.012381                4374.0
2020-06-01  23.706455                1586.0
2020-07-01  23.145000                2686.0
2020-08-01  22.122381                4620.0
2020-09-01  22.679909                8044.0
2020-10-01  23.098409               46145.0
2020-11-01  22.357048              264339.0
2020-12-01  21.629913              188196.0
2021-01-01  21.474714              195363.0
2021-02-01  21.388100              266113.0
2021-03-01  22.002043              250706.0
2021-04-01  21.694591              296852.0
2021-05-01        NaN               98426.0

In [26]:
result.to_parquet('data/merged_data.parquet')